<div class="h1 clear"><h1><?=$this->normalize($this->news->news_title) ?></h1></div>
<?=$this->navBreadCrumbs()?>
<div class="news clear">
<h3><?=$this->date($this->news->news_date)?></h3><br/>
<? if ($this->news->news_thumbnail) {?><img src="thumbs/200/200/1/<?=$this->config()->paths->uploadPath?>/<?=$this->news->news_thumbnail?>" /><?}?>
<p><?= $this->normalize($this->news->news_text) ?></p>
</div>