<div class="h1 clear"><h1><?= $this->normalize($this->nb->nb_name) ?></h1></div>
<?=$this->navBreadCrumbs() ?>
<p><?= $this->normalize($this->nb->nb_text) ?></p>

<?
for($n=0, $mn=sizeof($this->news); $n < $mn; $n++) {
    ?>
    <div class="news clear">
        <h3><?=$this->date($this->news[$n]['news_date'])?> <?=$this->news[$n]['news_title']?></h3>
        <? if ($this->news[$n]['news_thumbnail']) {?><img src="thumbs/50/50/1/<?=$this->config()->paths->uploadPath?>/<?=$this->news[$n]['news_thumbnail']?>" /><?}?>
        <p><?=$this->news[$n]['news_announce']?> <a href="<?=$this->lang()?>/<?=$this->news[$n]['page_path']?><?=$this->news[$n]['page_url']?>">&raquo;</a></p>
       
    </div>
    <?
}
?>