<div class="clear">
<?
for($n=0, $mn=sizeof($this->newsbar); $n < $mn; $n++) {
    ?>
    <div class="newsbar">
        <b><?=$this->date($this->newsbar[$n]['news_date'])?></b>
        <?=$this->newsbar[$n]['news_announce']?> <a href="<?=$this->lang()?>/<?=$this->newsbar[$n]['page_path']?><?=$this->newsbar[$n]['page_url']?>">&raquo;</a>
    </div>
    <?
}
if ($mn) {
?>
    <a href="<?=$this->lang()?>/<?=$this->newsbar[0]['page_path']?>" class="newsArchive"><?=$this->l('News archive')?> &raquo;</a>
<? } ?>
</div>