<? $this->partial('newsblock/toolbar.phtml')?>
<? $this->partial('message.phtml')?>
<fieldset>
    <legend><?=$this->l('Edit News Block')?></legend>
    <form method="post" action="<?=$this->url()?>">
            <?=$this->FormString('nb_name','Title')
                ->addAttribute('size',50)
                ->setDefaultValue($this->nb->nb_name)
                ->setRequired(true)?>
            <?=$this->FormHTML('nb_text','Content')
                ->addAttribute('cols',50)
                ->setDefaultValue($this->nb->nb_text)
                ->addAttribute('rows',6)?>
            <?=$this->FormHidden('page_id')
                ->setDefaultValue($this->nb->page_id)?>
        <br/>
            <?=$this->FormSubmit('Ok')?>
    </form>
</fieldset>