<? $this->partial('newsblock/toolbar.phtml')?>
<? $this->partial('message.phtml')?>
<fieldset>
    <legend><?=$this->l('New News Block')?></legend>
    <form method="post" action="NewsBlock/new">
            <?=$this->FormString('nb_name','Title')
                ->addAttribute('size',50)
                ->setRequired(true)?>
            <?=$this->FormHTML('nb_text','Content')
                ->addAttribute('cols',50)
                ->addAttribute('rows',6)?>
            <?=$this->FormHidden('page_id',$this->page_id)?>
            <?=$this->FormHidden('nextstep',1)?>
        <br/>
            <?=$this->FormSubmit('Ok')?>
    </form>
</fieldset>