<? $this->partial('news/toolbar.phtml')?>
<? $this->partial('message.phtml')?>
<fieldset>
    <legend><?=$this->l('Edit News Article')?></legend>
    <form method="post" action="<?=$this->url()?>" enctype="multipart/form-data">
        <br/>
        <?=$this->FormString('news_title','Title')
                ->setDefaultValue($this->obj->news_title)
                ->setRequired(true)
        ?>
        <?=$this->FormImage('news_thumbnail','Thumbnail')
                ->setPreviewImage($this->obj->news_thumbnail)
                ->setRequired(false)?>
        <br/>
        <?=$this->FormTextarea('news_announce','Announce')
                ->setDefaultValue($this->obj->news_announce)
                ->setRequired(true)?>
        <br/>
        <?=$this->FormHTML('news_text','Announce')
                ->setDefaultValue($this->obj->news_text)
                ->setRequired(true)?>
        <br/>
        <?=$this->FormDate('news_date','Date')
                ->setDefaultValue($this->obj->news_date)
                ->setRequired(true)?>
        <br/>
        <?=$this->FormSubmit('Save')?>
    </form>
</fieldset>