<? $this->partial('news/toolbar.phtml')?>
<? $this->partial('message.phtml')?>
<fieldset>
    <legend><?=$this->l('New News Article')?></legend>
    <form method="post" action="News/new" enctype="multipart/form-data">
        <br/>
        <?=$this->FormString('news_title','Title')
                ->setRequired(true)
        ?>
        <br/>
        <?=$this->FormImage('news_thumbnail','Thumbnail')
        ?>
        <br/>
        <?=$this->FormTextarea('news_announce','Announce')
                ->setRequired(true)
        ?>
        <br/>
        <?=$this->FormHTML('news_text','Text')
                ->setRequired(true)
        ?>
        <br/>
        <?=$this->FormDate('news_date','Date')
                ->setDefaultValue(time())
                ->setRequired(true)
        ?>
        <br/>
        <?=$this->FormHidden('page_id',$this->page_id)?>
        <?=$this->FormHidden('nextstep',1)?>
        <?=$this->FormSubmit('Save')?>
    </form>
</fieldset>