<?
/**
 * @author Eugene Belyaev (work@belyaev.biz)
 * @version 1.2 / Last Updated: 18 October 2010 / Project: DEMO / Author: Eugene
 */
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<?=$this->lang()?>" lang="<?=$this->lang()?>">
    <head>
        <title><?=$this->config()->labels->title1;?> <?=$this->config()->labels->title2;?></title>
        <base href="<?=$this->baseHref().$this->config()->admin->adminURL?>/" />

        <link type="text/css" href="../scripts/admin/css/style.css" rel="stylesheet" />
        <link type="text/css" href="../scripts/admin/css/start/jquery-ui-1.7.1.custom.css" rel="stylesheet" />

        <!-- Load jQuery -->
        <script type="text/javascript" src="../scripts/admin/js/jquery.js"></script>
        <script type="text/javascript" src="../scripts/admin/js/main.js"></script>

        <script type="text/javascript" src="../scripts/admin/js/jquery-ui-1.7.1.custom.min.js"></script>
        <script type="text/javascript" src="../scripts/admin/js/jquery.form.js"></script>
        <script type="text/javascript" src="../scripts/admin/js/functions.js"></script>
        <script type="text/javascript" src="http://jqueryui.com/themeroller/themeswitchertool/"></script>

        <!-- Tiny MCE -->
        <script type="text/javascript" src="../scripts/admin/js/tinymce/jquery-tinymce.js"></script>
        <script type="text/javascript" src="../scripts/admin/js/tinymce/tiny_mce.js"></script>
        <script type="text/javascript" src="../scripts/admin/js/tinymce/plugins/tinybrowser/tb_tinymce.js.php"></script>
        <script type="text/javascript">
            var LANG = "<?=$this->lang()?>";
            var PATH = "..";

            tinyMCE.init({
                mode    :'none',
                setup   : function(ed) {
                    ed.onChange.add(function(ed) {
                        tinyMCE.triggerSave(true,true);
                    });
                },
                language:"<?=$this->lang()?>",
                theme : "advanced",
                plugins : "safari,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",

                // Theme options
                theme_advanced_buttons1 : "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,styleselect,formatselect,fontselect,fontsizeselect",
                theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
                theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
                theme_advanced_buttons4 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,pagebreak",
                theme_advanced_toolbar_location : "top",
                theme_advanced_toolbar_align : "left",
                theme_advanced_statusbar_location : "bottom",
                theme_advanced_resizing : true,
                file_browser_callback : "tinyBrowser",
                document_base_url : "<?=$this->baseHref()?>",
                relative_urls : true
            });
            tinyMCEeditors = new Array();
        </script>
        <!-- /Tiny MCE -->

        <script type="text/javascript">
            var __curUrl = null;

            $(document).ready(function() {
                //MENU LOAD
                $('#accordion').load('index/menu',function(){
                    $("#accordion").accordion({ header: "h3" });
                    $('#accordion').find('a').click(function(){
                        __curUrl = $(this).attr('href');
                        $('#__content').load($(this).attr('href'),function(){ renderLinks();});
                        return false;
                    });
                    $('a[role=section]').click( function() {
                        $('a[role=section]').removeClass('bold').parent().removeClass('ui-state-hover');
                        $(this).addClass('bold').parent().addClass('ui-state-hover');
                    } );
                })
                //THEME SWITCHER
                $('#switcher').themeswitcher({initialText:"<?=$this->l("Switch Theme")?>"});

                //AJAX PROGRESS BAR
                $(window).ajaxStart(function(){ $('#ajxLoader').show()}).ajaxComplete(function(){ $('#ajxLoader').hide()}).ajaxError(function(){ $('#ajxLoader').hide();});
            });
        </script>
    </head>
    <body>
        <div class="uheader ui-state-highlight" style="padding-bottom: 0px;border:0px;">
            <div class="ui-widget-header ui-corner-top ui-helper-clearfix header">
                <div style="float:left;">
                    <div class="logo ui-widget-content ui-corner-all ui-state-highlight">
                        <img id="cmsLogo" src="../scripts/admin/image/<?=$this->config()->labels->logoImage?>" />
                    </div>
                    <div style="float:left;">
                        <h1><?=$this->config()->labels->title1?></h1>
                        <br/>
                        <h2><?=$this->config()->labels->title2?></h2>
                    </div>
                </div>

                <img id="ajxLoader" src="../scripts/admin/image/ajax-loader.gif" />
                <div id="switcher" style="float:right;padding-left:10px;"></div>

                <div style="float:right;">
                    <? foreach(Exoof_Lang::getLangs() as $lang) {?>
                    <div class='btn-icon ui-state-<?=(Exoof_Lang::getLang()==$lang)?'active':'default';?> ui-corner-all' role='button' onclick="jQuery.get('language/change?lang=<?=$lang?>',null,function(){document.location.href='<?=$this->baseHref().$this->config()->admin->adminURL?>/';})"><div class="pad2" style="text-transform:uppercase;"><?=$lang?></div></div>
                    <?} ?>
                    <div class='btn-icon ui-state-default ui-corner-all' role='button' title="Refresh" ><span onclick="return loadUrl(__curUrl);" title="Refresh" unselectable='on' class='ui-icon ui-icon-arrowrefresh-1-e'></span></div>
                    <div class='btn-icon ui-state-default ui-corner-all' role='button' title="Logout"><span onclick="document.location.href='index/logout'" title="Logout" unselectable='on' class='ui-icon ui-icon-arrowthickstop-1-e'></span></div>
                </div>

            </div>
        </div>
        <div class="pad10" style="padding-top: 0px;">
            <div class="ui-widget-content ui-corner-bottom pad5 ui-helper-clearfix" style="height:85%;border-top:0px;">
                <div style="width:200px;float:left;">
                    <!-- MENU -->
                    <div id="accordion">

                    </div>
                    <!-- /MENU -->
                </div>
                <h3 id="sectitle"></h3>
                <div id="__content" class="ui-widget-content ui-corner-all pad5" style="margin-left:210px;">
                    <?=$this->container('index');?>
                </div>
                <div class="ui-helper-clearfix"></div>
            </div>
        </div>
        <div id="dialogDiv"></div>
    </body>
</html>