<? $this->partial('forms/toolbar.phtml')?>
<? $this->partial('message.phtml')?>
<fieldset>
   <legend><?=$this->l('Edit Form')?></legend>
   <table style="display:none;">
           <tbody role="filter" id="formElements">
            <tr valign="top" align="center">
                <td>
                    <?=$this->FormString('form_labels[]')?>
                </td>
                <td>
                    <?=$this->FormSelect('form_types[]')
                        ->setOptions($this->ftypes);
                    ?>
                </td>
                <td>
                    <?=$this->FormTextarea('form_values[]')->addAttribute('rows',3) ?>
                </td>
                <td>
                    <?=$this->FormSelect('form_req[]')->setOptions(array('No','Yes')); ?>
                </td>
                <td>
                    <div onclick="$(this).parent().parent().parent().remove();return false;" class="ui-icon ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-minus"></span></div>
                </td>
             </tr>
             </tbody>
    </table>

    <form method="post" action="<?=$this->url()?>">
        <br/>
        <?=$this->FormString('form_title','Title')
                ->setDefaultValue($this->obj->form_title)
                ->setRequired(true)
        ?>
        <br/>
        <?=$this->FormHTML('form_text_before','Text above the form')
                ->setDefaultValue($this->obj->form_text_before)
                ->setRequired(false)
        ?>
        <br/>
        <?=$this->FormHTML('form_text_after','Text below the form')
                ->setDefaultValue($this->obj->form_text_after)
                ->setRequired(false)
        ?>
        <br/>
        <?=$this->FormString('form_mailto','Receiver mail')
                ->setDefaultValue($this->obj->form_mailto)
                ->setRequired(true)
        ?>
        <br/>
        <?=$this->FormCheckbox('form_enable_captcha','Use security code field',1)
                ->setChecked($this->obj->form_enable_captcha?true:false)
        ?>
        <br/>
        <table id="ffields" role="filter" class="content-table ui-widget-content floatingTable">
            <caption class="ui-widget-header"><?=$this->l('Form elements')?></caption>
            <tr>
                <th><?=$this->l('Label')?></th>
                <th><?=$this->l('Type')?></th>
                <th><?=$this->l('Values')?></th>
                <th><?=$this->l('Required')?></th>
                <th><?=$this->l('Delete')?></th>
            </tr>
            <tr>
                <td colspan="5">
                    <button onclick="$('#formElements').clone(true).appendTo('#ffields').find(':input').val('');return false;" id="add" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-plus"></span></button>
                </td>
            </tr>
             <?
                if (sizeof($this->obj->fields))
                    foreach ($this->obj->fields['labels'] as $id=>$field) {
                        $afield = $this->obj->fields;
                      ?>
                        <tbody role="filter">
                        <tr valign="top" align="center">
                            <td>
                                <?=$this->FormString("form_labels[{$id}]")
                                        ->setDefaultValue($afield['labels'][$id]);
                                ?>
                            </td>
                            <td>
                                <?=$this->FormSelect("form_types[{$id}]")
                                    ->setOptions($this->ftypes)
                                    ->setDefaultValue($afield['types'][$id]);
                                ?>
                            </td>
                            <td>
                                <?=$this->FormTextarea("form_values[{$id}]")
                                        ->addAttribute('rows',3)
                                        ->setDefaultValue($afield['values'][$id]);
                                ?>
                            </td>
                            <td>
                                <?=$this->FormSelect("form_req[{$id}]")
                                        ->setOptions(array('No','Yes'))
                                        ->setDefaultValue($afield['required'][$id]);
                                ?>
                                <input type="hidden" name="form_exist[<?=$id?>]" value="1" />
                            </td>
                            <td>
                                <input type="checkbox" name="form_delete[<?=$id?>]" value="1"/>
                            </td>
                         </tr>
                         </tbody>
                      <?
                }
             ?>
           </table>
        <br/>
        <?=$this->FormSubmit('Save')?>
    </form>
</fieldset>