<? $this->partial('forms/toolbar.phtml')?>
<? $this->partial('message.phtml')?>
<fieldset>
    <legend><?=$this->l('New Form')?></legend>
    <form method="post" action="Forms/new">
        <br/>
        <?=$this->FormString('form_title','Title')
                ->setRequired(true)
        ?>
        <br/>
        <?=$this->FormHTML('form_text_before','Text above the form')
                ->setRequired(false)
        ?>
        <br/>
        <?=$this->FormHTML('form_text_after','Text below the form')
                ->setRequired(false)
        ?>
        <br/>
        <?=$this->FormString('form_mailto','Receiver mail')
                ->setRequired(true)
        ?>
        <br/>
        <?=$this->FormCheckbox('form_enable_captcha','Use security code field',1)
                ->setChecked(true)
        ?>
        <br/>
        <table id="ffields" role="filter" class="content-table ui-widget-content floatingTable">
            <caption class="ui-widget-header"><?=$this->l('New form element')?></caption>
            <tr>
                <th><?=$this->l('Label')?></th>
                <th><?=$this->l('Type')?></th>
                <th><?=$this->l('Values')?></th>
                <th><?=$this->l('Required')?></th>
                <th><?=$this->l('Delete')?></th>
            </tr>
            <tr>
                <td colspan="5">
                    <button onclick="$('#formElements').clone(true).appendTo('#ffields').removeClass('first').find(':input').val('');return false;" id="add" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-plus"></span></button>
                </td>
            </tr>
            <tbody role="filter" id="formElements" class="first">
            <tr valign="top" align="center">
                <td>
                    <?=$this->FormString('form_labels[]')?>
                </td>
                <td>
                    <?=$this->FormSelect('form_types[]')
                        ->setOptions($this->ftypes);
                    ?>
                </td>
                <td>
                    <?=$this->FormTextarea('form_values[]') ?>
                </td>
                <td>
                    <?=$this->FormSelect('form_req[]')->setOptions(array('No','Yes')); ?>
                </td>
                <td>
                    <div onclick="if (!$(this).parent().parent().parent().hasClass('first')) $(this).parent().parent().parent().remove();return false;" class="ui-icon ui-state-default ui-corner-all"><span class="ui-icon ui-icon-circle-minus"></span></div>
                </td>
             </tr>
             </tbody>
        </table>
        <br/>
        <?=$this->FormHidden('page_id',$this->page_id)?>
        <?=$this->FormHidden('nextstep',1)?>
        <?=$this->FormSubmit('Save')?>
    </form>
</fieldset>