<div class="ui-helper-clearfix" style="height:25px;">
<?=$this->dialogButton('structure/new','New Element','plus')?>
<?=$this->dialogButton('structure','Structure','calculator')?>
<?=$this->dialogButton('Forms','Feedback Forms','calculator')?>
</div><br/>