<? $this->partial('administrators/toolbar.phtml')?>
<? $this->partial('message.phtml')?>
<fieldset>
    <legend><?=$this->l('Edit Administrator')?></legend>
    <form method="post" action="<?=$this->url()?>">
            <?=$this->FormString('adm_login','Login')
                ->setDefaultValue($this->admin->adm_login)
                ->setRequired(true)?>
            <?=$this->FormPassword('adm_passw','Password')
                ->addAttribute('role','confirm')
                ?>
            <?=$this->FormPassword('confirm_passw','Confirm Password')
                ->addAttribute('role','confirm')
                ?>
            <?=$this->FormString('adm_email','E-Mail')
                ->setRequired(true)
                ->setDefaultValue($this->admin->adm_email)
                ?>
            <? if (!$this->admin->adm_is_superuser) {?>
            <h2><u>Permissions</u></h2>
            <?
                 foreach($this->sections as $sect) {
                        foreach($sect as $item) {
//                            if (!@$item['secure']) {
                                $checkbox = $this->formCheckbox('s['.$item['url'].']',$sect['label'].'&rarr; '.$item['label'],1);
                                if (@in_array($item['url'],$this->permissions))
                                        $checkbox->setChecked(true);
                                echo $checkbox;
//                            }
                    }
                 }
            ?>
            <? } ?>
        <br/>
            <?=$this->FormSubmit('Save')?>
    </form>
</fieldset>