<? $this->partial('administrators/toolbar.phtml')?>
<? $this->partial('message.phtml')?>
<fieldset>
    <legend><?=$this->l('New Administrator')?></legend>
    <form method="post" action="<?=$this->url()?>">
            <?=$this->FormString('adm_login','Login')
                ->setRequired(true)?>
            <?=$this->FormPassword('adm_passw','Password')
                ->setDefaultGenerated(0)
                ->setVisible(true)
                ->setRequired(true)?>
            <?=$this->FormPassword('confirm_passw','Confirm Password')
                ->setRequired(true)?>
            <?=$this->FormString('adm_email','E-Mail')
                ->setRequired(true)?>
            <?=$this->FormCheckbox('send','Send notification mail')
                ->setChecked(true)
            ?>
            <h2><u>Permissions</u></h2>
            <?
                 foreach($this->sections as $sect) {
                        foreach($sect as $item) {
                            if (@$item['secure'] && !$this->isRoot)
                                    continue;
                            if (!$this->isRoot && !in_array($item['url'], $this->permissions))
                                    continue;
                            echo $this->formCheckbox('s['.$item['url'].']',$sect['label'].'&rarr; '.$item['label'],1);
                    }
                 }
            ?>

        <br/>
            <?=$this->FormSubmit('Save')?>
    </form>
</fieldset>