<div class="ui-helper-clearfix" style="height:25px;">
<?=$this->dialogButton('administrators/new','New Administrator','person')?>
<?=$this->dialogButton('administrators/','List','calculator')?>
</div><br/>