<?=$this->partial('structure/toolbar.phtml')?>
<? $this->partial('message.phtml')?>
<fieldset>
    <legend><?=$this->l('Page Settings')?></legend>
    <form method="post" action="<?=$this->url()?>">
        <?=$this->FormSelect('ptype_id','Page Type')
            ->setSelected($this->page->ptype_id)
            ->setDisabled(($this->page->page_id)?true:false)
            ->setOptions($this->types)?>
        <?if (sizeof($this->parents) && $this->page->parent_page_id) echo $this->FormSelect('parent_page_id','Parent Page')
            ->setRequired(true)
            ->setEmptyOption()
            ->setSelected($this->page->parent_page_id)
            ->setDisabled(($this->page->page_id)?true:false)
            ->setOptions($this->parents)?>
        <?=$this->FormString('page_title','Title')
            ->addAttribute('size',50)
            ->addAttribute('onblur',"makeURL('page_title','page_url');")
            ->setDefaultValue($this->page->page_title)
            ->setRequired(true)?>
        <? if ($this->page->parent_page_id) echo $this->FormString('page_url','URL')
            ->addAttribute('size',50)
            ->setDisabled(($this->page->page_id)?true:false)
            ->setDefaultValue($this->page->page_url)
            ->setRequired(true)?>
        <div class="legend" onclick="$(this).next().toggle();"><?=$this->l('SEO Options')?></div>
        <div style="display1:none;">
            <?=$this->FormString('page_meta_title','Title')
                    ->setDefaultValue($this->page->page_meta_title)
                    ->addAttribute('size',50)
                    ->addAttribute('onfocus',"if (!$(this).val()) makeTitle('page_title',this);")?>
            <?=$this->FormTextarea('page_meta_description','Description')
                    ->setDefaultValue($this->page->page_meta_description)
                    ->addAttribute('onfocus',"if (!$(this).val()) makeTitle('page_title',this);")?>
            <?=$this->FormTextarea('page_meta_keywords','Keywords')
                    ->setDefaultValue($this->page->page_meta_keywords)
                    ->addAttribute('onfocus',"if (!$(this).val()) makeKeywords('page_title',this);")?>
        </div>
        <?=$this->FormHidden('page_id',$this->page->page_id)?>
        <?=$this->FormSubmit('Next')?>
    </form>
</fieldset>

<script>
    $('#ptype_id').change(function() {
        if ($(this).val() == 1) {
            $('#page_url').val('/').attr('disabled','true');
            $('#parent_page_id').attr('disabled','true');
        } else {
            $('#page_url').removeAttr('disabled');
            $('#parent_page_id').removeAttr('disabled');
        }
    })
</script>