<div class="h1 clear"><h1><?= $this->normalize($this->gallery->gal_name) ?></h1></div>
<?=$this->navBreadCrumbs() ?>
<p><?= $this->normalize($this->gallery->gal_text) ?></p>

    <ul class="clear gallery">
    <?
    for($i=0,$mi=sizeof($this->photos);$i<$mi;$i++) {
        ?><li>
        <a href="<?=$this->config()->paths->uploadPath.'/'.$this->photos[$i]['photo_file']?>" role="lightbox" title="<?=$this->normalize($this->photos[$i]['photo_description'])?>">
            <img src="thumbs/200/200/1/<?=$this->config()->paths->uploadPath.'/'.$this->photos[$i]['photo_file']?>" alt="<?=$this->normalize($this->photos[$i]['photo_description'])?>" title="<?=$this->normalize($this->photos[$i]['photo_description'])?>"/>
        </a></li>
        <?
    }
    ?>
    </ul>