<? $this->partial('options/toolbar.phtml')?>
<? $this->partial('message.phtml')?>
<fieldset>
    <legend><?=$this->l('Option')?></legend>
    <form method="post" action="<?=$this->url()?>">
            <?=$this->FormString('opt_variable','Variable Name')
                ->addAttribute('size',50)
                ->setDefaultValue($this->option->opt_variable)
                ->setRequired(true)?>
            <?=$this->FormString('opt_title','Title')
                ->addAttribute('size',50)
                ->setDefaultValue($this->option->opt_title)
                ->setRequired(true)?>
            <?=$this->FormSelect('opt_type','Type')
            ->setRequired(true)
            ->setSelected($this->option->opt_type)
            ->setOptions($this->types)?>
            <?=$this->FormHidden('opt_id',$this->option->opt_id)?>
        <br/>
            <?=$this->FormSubmit('Save')?>
    </form>
</fieldset>