<? $this->partial('options/toolbar.phtml')?>
<? $this->partial('message.phtml')?>
<fieldset>
    <legend><?=$this->l('Option')?></legend>
    <form method="post" action="<?=$this->url()?>">
            <?=$this->FormString('opt_variable','Variable Name')
                ->addAttribute('size',50)
                ->setRequired(true)?>
            <?=$this->FormString('opt_title','Title')
                ->addAttribute('size',50)
                ->setRequired(true)?>
            <?=$this->FormSelect('opt_type','Type')
            ->setRequired(true)
            ->setOptions($this->types)?>
        <br/>
            <?=$this->FormSubmit('Next')?>
    </form>
</fieldset>