<? $this->partial('options/toolbar.phtml')?>
<? $this->partial('message.phtml')?>
<fieldset>
    <legend><?=$this->l('Option')?></legend>
    <form method="post" action="options/value">
        <?
//        $title = '`'.$this->option->opt_title.'` '.$this->l('Value');
        switch($this->option->opt_type)
            {
                case 'html':
                    echo $this->FormHTML('opt_value','Value')
                        ->addAttribute('size',50)
                        ->setDefaultValue($this->option->opt_value);
                    break;
                case 'text':
                    echo $this->FormTextarea('opt_value','Value')
                        ->setDefaultValue($this->option->opt_value);
                    break;
                case 'number':
                default:
                case 'string':
                    echo $this->FormString('opt_value','Value')
                        ->addAttribute('size',50)
                        ->setDefaultValue($this->option->opt_value);
                    break;

            }
        ?>
            <?=$this->FormHidden('nextstep',1)?>
            <?=$this->FormHidden('opt_id',$this->option->opt_id)?>
        <br/>
            <?=$this->FormSubmit('Save')?>
    </form>
</fieldset>