<? $this->partial('staticpage/toolbar.phtml')?>
<? $this->partial('message.phtml')?>
<fieldset>
    <legend><?=$this->l('Static Page')?></legend>
    <form method="post" action="<?=$this->url()?>">
            <?=$this->FormString('sp_name','Title')
                ->addAttribute('size',50)
                ->setDefaultValue($this->sp->sp_name)
                ->setRequired(true)?>
            <?=$this->FormHTML('sp_text','Content')
                ->addAttribute('cols',50)
                ->setDefaultValue($this->sp->sp_text)
                ->addAttribute('rows',6)?>
            <?=$this->FormHidden('page_id')
                ->setDefaultValue($this->sp->page_id)?>
        <br/>
            <?=$this->FormSubmit('Ok')?>
    </form>
</fieldset>