<? $this->partial('staticpage/toolbar.phtml')?>
<? $this->partial('message.phtml')?>
<fieldset>
    <legend><?=$this->l('Static Page')?></legend>
    <form method="post" action="StaticPage/new">
            <?=$this->FormString('sp_name','Title')
                ->addAttribute('size',50)
                ->setRequired(true)?>
            <?=$this->FormHTML('sp_text','Content')
                ->addAttribute('cols',50)
                ->addAttribute('rows',6)?>
            <?=$this->FormHidden('page_id',$this->page_id)?>
            <?=$this->FormHidden('nextstep',1)?>
        <br/>
            <?=$this->FormSubmit('Ok')?>
    </form>
</fieldset>