<div class="ui-helper-clearfix" style="height:25px;">
<?=$this->dialogButton('structure/new','New Element','plus')?>
<?=$this->dialogButton('structure','Structure','calculator')?>
<?=$this->dialogButton('staticPage','Static Pages','calculator')?>
</div><br/>