<fieldset>
        <?
        if ($this->message)
            echo $this->msgOk($this->message);
        ?>
    <legend><?=$this->l('Send Newsletter')?></legend>
    <form method="post" action="Newsletter/send">
            <?=$this->FormString('subject','Mail subject')
                ->addAttribute('size',50)
                ->setRequired(true)?>
            <?=$this->FormHTML('body','Mail body')
                ->addAttribute('cols',50)
                ->addAttribute('rows',10)?>
        <br/>
            <?=$this->FormSubmit('Ok')?>
    </form>
</fieldset>