<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<?=$this->lang()?>" lang="<?=$this->lang()?>">
    <head>
        <title><?=$this->config()->labels->title1;?> <?=$this->config()->labels->title2;?></title>
        <base href="<?=$this->baseHref().$this->config()->admin->adminURL?>/" />

        <link type="text/css" href="../scripts/admin/css/style.css" rel="stylesheet" />
        <link type="text/css" href="../scripts/admin/css/start/jquery-ui-1.7.1.custom.css" rel="stylesheet" />
    </head>
    <body>
        <div style="margin:15% auto 0px auto;width:170px;height:160px;" class="ui-corner-all ui-widget-header">
            <form method="post" style="margin:5px auto;padding:10px;" action="./">
                <label>Login</label>
                <input type="text" name="login" maxlength="20"/>

                <label>Password</label>
                <input type="password" name="password" maxlength="20"/>

                <br/><br/>
                <input type="submit" value="Login" style="float:right;" class=" clear ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" />
            </form>
        </div>
    </body>
</html>