<div>
    <?
    if (count($this->sections))
        foreach ($this->sections as $section) {
    ?><h3><?= $this->l($section['label']) ?></h3>
            <div style="padding:0px;margin:0px;">
                <ul class="plain">
            <?
            if (count($section))
                foreach ($section as $item)
                    if ($this->admin['adm_is_superuser'] || @in_array($item['url'], $this->permissions)) {
 ?>
                        <li class="ui-state-default ui-corner-all" role="tab">
                            <a href="<?= $item['url'] ?>" role="section"><?= $this->l($item['label']) ?></a>
                        </li>
            <? } ?>
        </ul>
    </div><? } ?>
</div>