<? $this->partial('photo/toolbar.phtml')?>
<? $this->partial('message.phtml')?>
<fieldset>
    <legend><?=$this->l('Photo')?></legend>
    <form method="post" action="<?=$this->url()?>" enctype="multipart/form-data">
            <?=$this->FormSelect('gal_id','Gallery')
            ->setEmptyOption()
            ->setSelected($this->obj->gal_id)
            ->setOptions($this->galleries)?>
            <?=$this->FormImage('photo_file','File')
                ->addAttribute('size',50)
                ->setPreviewImage($this->obj->photo_file)
                ->setRequired(false)?>
            <?=$this->FormString('photo_description','Description')
                ->setDefaultValue($this->obj->photo_description)
                ->addAttribute('size',50)?>
        <br/>
            <?=$this->FormSubmit('Save')?>
    </form>
</fieldset>