<? $this->partial('photo/toolbar.phtml')?>
<? $this->partial('message.phtml')?>
<fieldset>
    <legend><?=$this->l('Photo')?></legend>
    <form method="post" enctype="multipart/form-data" action="Photo/new">
            <?=$this->FormSelect('gal_id','Gallery')
            ->setEmptyOption()
            ->setSelected(Exoof_Session::get('gal_id'))
            ->setOptions($this->galleries)?>
            <?=$this->FormImage('photo_file','File')
                ->addAttribute('size',50)
                ->setRequired(true)?>
            <?=$this->FormString('photo_description','Description')
                ->addAttribute('size',50)
            ?>
        <br/>
            <?=$this->FormSubmit('Save')?>
    </form>
</fieldset>