@CHARSET "UTF-8";

body{
	 font-size:10px;
     font-family:Tahoma;
	 padding:0px;
	 margin:0px;
}

.uheader{
	padding:10px;
	margin:0px;
}

.header{
	height:auto;
	padding:10px;
	vertical-align: middle;
}

.logo{
	float:left;
	margin:5px;
}

.header h1, .header h2{
	display:inline;
} 
	

.pad0{
	padding:0px;
}

.pad2{
    padding:2px;
}

.pad5{
	padding:5px;
}

.pad10{
	padding:10px;
}

.pad20{
	padding:20px;
}

.padm0{
	padding:0px;
	margin:0px;
}

.bold {
    font-weight:bold;
}

div#accordion h3 {
    padding:0.5em 0.5em 0.5em 2.2em;
}


ul.plain{
	padding:0px;
	margin:0px;
}

ul.plain li{
	list-style-type: none;
        padding:4px;
	margin:3px;
	/*cursor:pointer;*/
}

ul.plain li span{
	padding:0px;
	margin:0px;
}

table.content-table{
	padding:2px;
	font:normal 11px Tahoma;
	border-collapse:collapse;
	width:100%;
}

table.content-table th {
	padding-left:3px;
	padding-right:3px;
	cursor:pointer;
        white-space: nowrap;
}

table.content-table td {
	padding:0px 2px 0px 2px;
}

table.content-table td.center {
	text-align:center;
}

table.content-table th.sortAsc,
table.content-table th.sortDesc
{
	font-weight:bold;
}
	
table.content-table th.sortAsc:after{
	content: " ↑";
}

table.content-table th.sortDesc:after{
	   content: " ↓";
}

table.content-table tbody tr.over td {
    background:url(bg_gray_alpha30.png);
}

span.btnR{
	display:block;
	float:right;
}

.btn-icon{
	cursor:pointer;
	padding:3px 3px 3px 3px;
	margin:1px;
	/*width:16px;*/
	/*height:16px;*/
        text-decoration:none;
	float:left;
        line-height:16px;
        font-size:1.2em;
}


.btn-link
{
	cursor:pointer;
}

/** FORM **/

fieldset
{
}

legend, .legend
{
	/*padding:1px 15px 1px 15px;*/
        border-bottom:1px dotted;
	font: bold 16px Tahoma;
}



label {
    padding:2px;
    font-size:1.2em;
    font-weight:bold;
    display:block;
}

label[required=true]:after {
    content:' *';
    color:red;
}

*:first-child+html label[required=true] {
    padding-left:10px;
    background: url('../image/required_red.gif') no-repeat scroll left;
}

input,textarea,select {
    padding:0.4em;
    font-size:1.1em;
    font-family:Tahoma,Verdana,Lucida;
}

/** /FORM **/

ul.errors,
ul.errors li
{
	margin:0px;
	padding:0px;
}

ul.errors li
{
	list-style-type: none;
	font:normal 11px Tahom;
	color:red;
	padding:1px;
	margin:1px 0px 1px 0px;
}

#ajxLoader
{
    display:none;
    position:absolute;
    top:50px;
    right:22px;
    z-index:auto;
}

table.sform
{
    font-size:1em;
    border:1px solid #CCC;
    border-collapse:collapse;
    margin-left:45px;
}

.small
{
    font-size: 0.8em;
}

.ui-icon {
    float:left;
}


table.statistic {
    border-collapse:collapse;
}

table.statistic thead ,
table.statistic tfoot {
    font-weight:bold;
}

table.statistic caption {
    border:1px solid;
}

table.statistic * label {
    font-weight:bold;
    text-align:right;
    padding-right:1em;
}

table.statistic tr td,
table.statistic * th
{
    padding:1px;
    border:1px solid;
    border-collapse:collapse;
}

h3#sectitle {
    font-size:2em;
    padding-left:15px;
    margin:3px 3px 3px 210px;
}

.floatingTable,
.floatingTable td
{
    padding:1px !important;
    font-size:1em !important;
    width:auto !important;
}