<div class="h1 clear"><h1><?= $this->normalize($this->form->form_title) ?></h1></div>
<?=$this->navBreadCrumbs() ?>
<p>
        <?= $this->normalize($this->form->form_text_before) ?>
        <form method="post" class="common">
        <?
        foreach ($this->form->fields['labels'] as $idx => $label) {
            switch($this->form->fields['types'][$idx]) {
                case 'String':
                    $field = $this->FormString('field['.$idx.']', $label);
                    echo $field->setDefaultValue($this->form->fields['values'][$idx])->setRequired($this->form->fields['required'][$idx]);
                    break;
                case 'Text':
                    $field = $this->FormTextarea('field['.$idx.']', $label);
                    echo $field->setDefaultValue($this->form->fields['values'][$idx])->setRequired($this->form->fields['required'][$idx]);
                    break;
                case 'Select':
                    $field = $this->FormSelect('field['.$idx.']', $label);
                    $field->setRequired($this->form->fields['required'][$idx]);
                    $options = explode("\n",$this->form->fields['values'][$idx]);
                    echo $field->setOptions(array_combine($options, $options));
                    break;
                case 'Checkboxes':
                    echo "<label>{$label}</label>";
                    $field = $this->FormCheckbox('field['.$idx.'][]', null);
                    $field->setChecked(false);
//                    $field->setRequired($this->form->fields['required'][$idx]);
                    $options = explode("\n",$this->form->fields['values'][$idx]);
                    if (sizeof($options))
                        foreach ($options as $idx2=>$opt) {
                            $id = "f_{$idx}_{$idx2}";
                            echo $field->setDefaultValue($opt)->setId($id);
                            echo "<label class='right' for='{$id}'>".$opt."</label>";
                        }
                    break;
//                case 'Radioboxes':
//                    $field = $this->FormRadio('field['.$idx.']', $label, $label);
//                    $field->setRequired($this->form->fields['required'][$idx]);
//                    $options = explode("\n",$this->form->fields['values'][$idx]);
//                    if (sizeof($options))
//                        foreach ($options as $opt) {
//                            echo $field->setLabel($opt)->setDefaultValue($opt);
//                            echo "<br/>";
//                        }
//                    break;
            }
            echo "<br/>";
        }
        if ($this->form->form_enable_captcha)
          echo $this->formCaptcha('captcha', 'Security Code')->setRequired(true);
        ?>
        <br/>
        <?=$this->FormSubmit('Next');?>
        </form>
        <?= $this->normalize($this->form->form_text_after) ?>
</p>