<? $this->partial('gallery/toolbar.phtml')?>
<? $this->partial('message.phtml')?>
<fieldset>
    <legend><?=$this->l('Gallery')?></legend>
    <form method="post" action="<?=$this->url()?>">
            <?=$this->FormString('gal_name','Title')
                ->addAttribute('size',50)
                ->setDefaultValue($this->obj->gal_name)
                ->setRequired(true)?>
            <?=$this->FormHTML('gal_text','Content')
                ->addAttribute('cols',50)
                ->setDefaultValue($this->obj->gal_text)
                ->addAttribute('rows',6)?>
            <?=$this->FormHidden('page_id')
                ->setDefaultValue($this->obj->page_id)?>
        <br/>
            <?=$this->FormSubmit('Ok')?>
    </form>
</fieldset>