<? $this->partial('gallery/toolbar.phtml')?>
<? $this->partial('message.phtml')?>
<fieldset>
    <legend><?=$this->l('Gallery')?></legend>
    <form method="post" action="Gallery/new">
            <?=$this->FormString('gal_name','Title')
                ->addAttribute('size',50)
                ->setRequired(true)?>
            <?=$this->FormHTML('gal_text','Content')
                ->addAttribute('cols',50)
                ->addAttribute('rows',6)?>
            <?=$this->FormHidden('page_id',$this->page_id)?>
            <?=$this->FormHidden('nextstep',1)?>
        <br/>
            <?=$this->FormSubmit('Ok')?>
    </form>
</fieldset>