<? $this->partial('message.phtml')?>
<? $mc = sizeof($this->list['columns']); ?>
<br/>
<table cellspacing="0" class="content-table ui-widget-content" id="contentTable">
    <thead>
        <tr>
            <th class1="ui-corner-top" colspan="<?=$mc?>"><?=$this->list['title'];?></th>
        </tr>
        <tr>
            <?
            if ($mc) 
                foreach($this->list['columns'] as $obj)
	            {?>
	                <th><?=$obj->title?></th>
	            <?        	
	            }
	            ?>
        </tr>
    </thead>   
    <tbody>
<?
$mp = sizeof($this->list['rows']);
$mc = sizeof($this->list['columns']);

if ($mp)
{
for($i=0;$i<$mp;$i++)
{?>
        <tr>
        <?
            if ($mc)
                foreach($this->list['columns'] as $obj)
                {
                 if (!$obj->isAction)
                     {?><td class="ui-widget-content" width1="<?=floor(100/$mc)?>%"><?=($obj->getValue($this->list['rows'][$i]))?></td><?}
                 else
                     {?><td class="ui-widget-content center" width="1%"><?=($obj->getValue($this->list['rows'][$i]))?></td><?}
                }
        ?>
        </tr>
<?}
?>
    </tbody>
        <tr>
            <th colspan="<?=$mc?>" class="ui-widget-header ui-corner-bottom">
            <div style="float:right">
                <? if ($mp >= $this->list['count']) {?>
                <!-- "->|" -->
                <!--span class="ui-icon ui-icon-arrowstop-1-e btnR"  onclick="loadUrl('<?=$this->url();?>?loadData=1&count=<?=$this->list['count']?>&offset=<?=($this->list['offset']-$this->list['count'])?>');"/-->
                <!-- "->" -->
                <span class="ui-icon ui-icon-arrow-1-e btnR"   onclick="loadUrl('<?=$this->url();?>?loadData=1&count=<?=$this->list['count']?>&offset=<?=($this->list['offset']+$this->list['count'])?>');"/>
                <? } ?>
                <? if ($this->list['offset']>0) {?>
                <!-- "<-" -->
                <span class="ui-icon ui-icon-arrow-1-w btnR"  onclick="loadUrl('<?=$this->url();?>?count=<?=$this->list['count']?>&offset=<?=($this->list['offset']-$this->list['count'])?>');"/>
                <!-- "|<-" -->
                <span class="ui-icon ui-icon-arrowstop-1-w btnR"  onclick="loadUrl('<?=$this->url();?>?count=<?=$this->list['count']?>&offset=0');" />
                <? } ?>
                <!-- span class="btnR"><?=$this->list['count']?> <?=$this->l('records starting from')?> <?=$this->list['offset']?>&nbsp;&nbsp;&nbsp;&nbsp;</span> -->
                <span class="btnR"><?=($this->list['offset']+1)?>...<?=($this->list['offset']+$this->list['count'])?> &nbsp;&nbsp;&nbsp;&nbsp;</span>
            </div>
            </th>
        </tr>

<?
} else
{?>
<tr>
    <td class="ui-widget-content center" colspan="<?=$mc?>"><?=$this->l('No records')?></td>
</tr>
<? } ?>
</table>
<script>
    $('#contentTable tbody tr')
    .mouseover(function() { $(this).addClass('over'); })
    .mouseout(function() { $(this).removeClass('over'); })
</script>