<div class="h1 clear"><h1><?=$this->l('Contacts') ?></h1></div>
<?= $this->navBreadCrumbs()->addItem('contacts','Contacts') ?>
<p>
    <?=$this->option('ContactUs Text')?>
    <br/>
    <form class="common" method="post">
    <? if ($this->isLogged() == 0 ) {
    echo $this->formString('c_email', 'E-mail')->setRequired(true)."<br/>";
    } ?>
    <?= $this->formString('c_subject', 'Subject') ?>
    <br/>

    <?=
    $this->formTextarea('c_message', 'Message')
    ->addAttribute('rows', 10)
    ->setRequired(true);
    ?>
    <br/>

    <?=
    $this->formCaptcha('captcha', 'Security Code')
    ->setRequired(true);
    ?>
    <br/>

<?= $this->formSubmit('Send'); ?>
</form>
</p>