* {
    margin:0;
    padding:0;
}

body {
    background: none repeat scroll 0 0 #FFFFFF;
    font-size: 12px;
    margin: 0;
    min-width: 600px;
    padding: 0;
    width: 100%;
}
a {
    color: #336699;
}
a:hover {
    background: none repeat scroll 0 0 #336699;
    color: #FFFFFF;
    text-decoration: none;
}

#header {
    float: left;
    margin: 0;
    padding:0;
    width: 100%;
    height:100px;
    background:url('../images/bg_header.gif') repeat-x;
    position: relative;
}

#colmask {
    background: none repeat scroll 0 0 #EFF4FF;
    clear: both;
    float: left;
    overflow: hidden;
    position: relative;
    width: 100%;
}
#colmid {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    left: 200px;
    position: relative;
    width: 200%;
    border-left:1px dotted #CCC;
}
#colright {
    background: none repeat scroll 0 0 #EFF4FF;
    float: left;
    left: 50%;
    margin-left: -400px;
    position: relative;
    width: 100%;
}
#col1wrap {
    float: right;
    position: relative;
    right: 100%;
    width: 50%;
}
#col1pad {
    margin: 0 15px 0 415px;
    overflow: hidden;
}
#col1 {
    overflow: hidden;
    width: 100%;
}
#col2 {
    float: left;
    left: 215px;
    margin-left: -50%;
    overflow: hidden;
    position: relative;
    width: 170px;
}
#col3 {
    float: left;
    left: 15px;
    overflow: hidden;
    position: relative;
    width: 170px;
}
#footer {
    clear: both;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    background:#5577C4;
    color:#FFF;
    text-align: right;
}

/****** ------------------------------ **********/
#header h3 {
    font-family:Georgia;
    font-size:2em;
    margin:15px;
    color:#FFF;
}

#langs {
    position:absolute;
    right:10px;
    top:65px;
}

a img {
    border:0px;

}

/*---clear--------*/
.clear:after
{
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}
.clear
{
    min-height: 1px;
}

form.common label {
    display:block;
    width:100px;
    text-align: right;
    float:left;
    padding-right:10px;
    font-size:1.2em;
}

form.common label.right {
    display:inline !important;
    float:none;
}

form.common br {
    display: block;
    clear:both;
    margin:5px;
}

form.common input,
form.common select,
form.common textarea
{
    margin:0 5px;
}

form.common input[type=submit] {
    font-weight:bold;
    cursor:pointer;
    text-align:center;
    padding:2px 6px;
    border:1px solid;
}

ul.gallery {
}

ul.gallery li {
    display:table;
    float:left;
    margin-right:5px;
    margin-bottom: 5px;
    list-style-type: none;
    height:200px;
    border:1px solid #CCC;
    line-height: 200px;
}

ul.gallery li a {
    display:table-cell;
    vertical-align: middle;
    text-decoration: none;
}

ul.gallery li a  img {
    border:0px;
}