/* ============= ERROR =================== */
div.navError {
    margin-left:auto;
    margin-right:auto;
    margin-top:1em;
    margin-bottom: 1em;
    width:60%;
    padding:10px;
    border:1px solid #FF9F9F;
    -moz-border-radius:10px;
    background: #FFDFDF;
    color: #5F4D4D;
    text-align: center;

}

/* ============= MENU ============ */
ul.navMenu {
    margin:5px;
}

ul.navMenu li {
    margin-left:15px;
}

/* ============= BREAD CRUMBS ============ */
ul.navBreadCrumbs {
    font-size:0.9em;
    clear:both;
    margin:5px 0px 5px 0px !important;
    padding:1px !important;
    border-color: #AAA;
}

ul.navBreadCrumbs li {
    display: inline;
    margin:0px !important;
    text-transform: lowercase;
}

ul.navBreadCrumbs li:after {
    content: ' » ';
}

ul.navBreadCrumbs li.last:after {
    content:'';
}


ul.navBreadCrumbs li a {
    text-decoration: none;
}

/* ============= PAGINATOR ============ */
div.paginator {
    padding: 0px 10px 0px 0px;
    clear:both;
    float:left;
}

div.paginator a,
div.paginator div.dots {
    display:block;
    line-height: 1.5em;
    border:1px solid #AAA;
    float:left;
    text-align: center;
    padding:0px 0.6em 0px 0.6em;
    margin-right: 3px;
    font-family: Verdana;
    text-decoration: none;
    font-size:0.8em;
}

div.paginator div.dots {
    border:0px;
}

div.paginator a.current {
    background: #AAA;
    color:#FFF;
}

/* ============= SORTATOR =========== */
div.navSortator {
    float:right;
    margin: 0px 5px 0px 5px;
}
div.navSortator a.active {
    font-weight:bold;
}
div.navSortator a.updown,
div.navSortator a.up,
div.navSortator a.down
{
    float:right;
    display:block;
    width:16px;
    height:5px;
    margin:7px 3px 0px 0px;
    background: url('../images/sortable.png') no-repeat 0px -10px;
}

div.navSortator a.up {
    background-position: 0px -5px;
}

div.navSortator a.down {
    background-position: 0px 0px;
}

/* ============= CAPTCHA ============ */
div.captcha_box input {
    width:120px;
    float:left;
    margin:5px 0 0 5px;
}

div.captcha_box img.captcha{
    border:1px solid #CCC;
    margin-left: 5px;
    float:left;
}

div.captcha_box .reload {
    float:left;
    background: url('../images/system/reload.gif') top left no-repeat;
    width:15px;
    height:15px;
    cursor:pointer;
}

.captcha_box_in{
    float:left;
    margin:0 5px;
}

/* ============= FORM ============ */
input.error, textarea.error, select.error {
    color:#FF1F1F !important;
    background:#FFDFDF !important;
}

span.error {
    display:block;
    width:16px;
    height:16px;
    background: url('../images/warning2.png') no-repeat left top;
    margin:6px 2px 2px 5px;
    float:right;
}

label.required {
    background:url('../images/system/required.gif') center right no-repeat;
    padding-right:10px;
}

.stars00,
.stars05,
.stars10,
.stars15,
.stars20,
.stars25,
.stars30,
.stars35,
.stars40,
.stars45,
.stars50 {
    background: url('../images/stars_all.gif') no-repeat;
}

.stars05 { background-position: 0 -9px; }
.stars10 { background-position: 0 -18px; }
.stars15 { background-position: 0 -27px; }
.stars20 { background-position: 0 -36px; }
.stars25 { background-position: 0 -45px; }
.stars30 { background-position: 0 -54px; }
.stars35 { background-position: 0 -63px; }
.stars40 { background-position: 0 -72px; }
.stars45 { background-position: 0 -81px; }
.stars50 { background-position: 0 -90px; }