<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" ><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >
    <html xmlns="http://www.w3.org/1999/xhtml">
        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <title><?= $this->seoTitle($this->option('SeoTitle')) ?></title>
            <meta name="description" content="<?= $this->seoDescription($this->option('SeoDescription')) ?>" />
            <meta name="keywords" content="<?= $this->seoKeywords($this->option('SeoKeywords')) ?>" />
            <base href="<?= $this->baseHref() ?>" />
            <link href="styles/main.css" rel="stylesheet" type="text/css" />
            <link href="styles/navigation.css" rel="stylesheet" type="text/css" />
            <script type="text/javascript" src="scripts/jquery.js"></script>
            <script type="text/javascript">
                var BASE_HREF = "<?= $this->baseHref() ?>";
                var BLANG     = "<?= $this->lang() ?>";
            </script>
            <script type="text/javascript" src="scripts/common.js"></script>
        </head>
        <body>
            <div id="header">
                <h3>Exoof CMF Demo</h3>
                <div id="langs" class="clear">
                    [ <a href="ru">ru</a> | <a href="en">en</a> ]
                </div>
            </div>
            <div id="colmask">
                <div id="colmid">
                    <div id="colright">
                        <div id="col1wrap">
                            <div id="col1pad">
                                <div id="col1">
                                    <!-- Column 1 start -->
                                    <?= $this->container('index') ?>
                                    <!-- Column 1 end -->
                                </div>
                            </div>

                        </div>
                        <div id="col2">
                            <!-- Column 2 start -->
                            <div class="block">
                                <h3><?= $this->l('Menu') ?></h3>
                                <?= $this->navMenu(); ?>
                                </div>
                                <!-- Column 2 end -->
                            </div>
                            <div id="col3">
                                <!-- Column 3 start -->
                                <div class="block">
                                    <h3><?= $this->l('News') ?></h3>
                                <?= $this->container('news') ?>
                                </div>

                                <div class="block">
                                    <h3><?= $this->l('Subscribe') ?></h3>
                                    <p>
                                    <?= $this->option('Subscribe text') ?>
                                </p>
                                <form action="<?= $this->lang() ?>/news/subscribe" method="post" class="common">
                                    <?= $this->formString('s_name', 'Name') ?>
                                    <br/>
                                    <?= $this->formString('s_email', 'E-mail') ?>
                                    <br/>
                                    <?= $this->formSubmit('Submit') ?>
                                </form>
                            </div>
                            <!-- Column 3 end -->

                        </div>
                    </div>
                </div>
            </div>
            <div id="footer">
                Footer
            </div>

        </body>
    </html>